{
  "plugins": ["@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "react-app"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": "off"
  }
}