@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .scrolling-touch {
      -webkit-overflow-scrolling: touch;
    }

    .scrolling-auto {
      -webkit-overflow-scrolling: auto;
    }
  }
}

Canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}