@import url('https://rsms.me/inter/inter.css');

html,
body,
#root,
.bg,
.texture-painter-canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  -webkit-overflow-scrolling: touch;
}

.texture-painter-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.texture-painter-toolbar {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
}